laravel/vendor/
laravel/node_modules/
laravel/npm-debug.log
laravel/yarn-error.log

# Laravel 5 & Lumen specific with changed public path
laravel/public_html/storage
laravel/public_html/hot

laravell/storage/*.key
laravel/.env
laravel/Homestead.yaml
laravel/Homestead.json
laravel/.vagrant
laravel/.phpunit.result.cache





flutter/*.class
flutter/*.log
flutter/*.pyc
flutter/*.swp
flutter/.DS_Store
flutter/.atom/
flutter/.buildlog/
flutter/.history
flutter/.svn/

flutter/*.iml
flutter/*.ipr
flutter/*.iws
flutter/.idea/

flutter/.classpath
flutter/.project
flutter/.settings/
flutter/.vscode/


flutter/.packages.generated

flutter/**/doc/api/
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/**/generated_plugin_registrant.dart
flutter/.packages
flutter/.pub-cache/
flutter/.pub/
flutter/build/
flutter/flutter_*.png
flutter/linked_*.ds
flutter/unlinked.ds
flutter/unlinked_spec.ds

flutter/**/android/**/gradle-wrapper.jar
flutter/.gradle/
flutter/**/android/captures/
flutter/**/android/gradlew
flutter/**/android/gradlew.bat
flutter/**/android/local.properties
flutter/**/android/**/GeneratedPluginRegistrant.java
flutter/**/android/key.properties

flutter/**/ios/**/*.mode1v3
flutter/**/ios/**/*.mode2v3
flutter/**/ios/**/*.moved-aside
flutter/**/ios/**/*.pbxuser
flutter/**/ios/**/*.perspectivev3
flutter/**/ios/**/*sync/
flutter/**/ios/**/.sconsign.dblite
flutter/**/ios/**/.tags*
flutter/**/ios/**/.vagrant/
flutter/**/ios/**/DerivedData/
flutter/**/ios/**/Icon?
flutter/**/ios/**/Pods/
flutter/**/ios/**/.symlinks/
flutter/**/ios/**/profile
flutter/**/ios/**/xcuserdata
flutter/**/ios/.generated/
flutter/**/ios/Flutter/.last_build_id
flutter/**/ios/Flutter/App.framework
flutter/**/ios/Flutter/Flutter.framework
flutter/**/ios/Flutter/Flutter.podspec
flutter/**/ios/Flutter/Generated.xcconfig
flutter/**/ios/Flutter/ephemeral
flutter/**/ios/Flutter/app.flx
flutter/**/ios/Flutter/app.zip
flutter/**/ios/Flutter/flutter_assets/
flutter/**/ios/Flutter/flutter_export_environment.sh
flutter/**/ios/ServiceDefinitions.json
flutter/**/ios/Runner/GeneratedPluginRegistrant.*

flutter/**/macos/Flutter/GeneratedPluginRegistrant.swift

flutter/coverage/

flutter/app.*.symbols

flutter/!**/ios/**/default.mode1v3
flutter/!**/ios/**/default.mode2v3
flutter/!**/ios/**/default.pbxuser
flutter/!**/ios/**/default.perspectivev3
flutter/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
flutter/!/dev/ci/**/Gemfile.lock

